.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 30px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }

.estrellitas {
    display: inline-block;
}
.estrellitas a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}
